@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: white;
}

table {
  /* display: flex;
  flex-direction: column; */
  width: 400px;
  height: 600px;
  margin-top: 10px;
  justify-content: center;
}

.display-result {
  width: 100%;
  background-color: black;
  background-size: 100% cover;
  height: 50px;
  border: 0px solid black;
  color: white;
  font-weight: bold;
  text-align: right;
  font-size: xx-large;
}

button {
  font-family:'Courier New', Courier, monospace;
  font-size: xx-large;
  font-weight: bold;
  border: 2px;
  border-color: black;
  width: 100%;
  background-color: #d8d9db;
}


tr {
  border: 1px solid;
}

tr td {
  padding: 0px;
  border: 0.5px solid black;
}

.display-cell {
  background-color: black;
}

.reg-btn {
  background-color: #d8d9db;
}

.ops-btn {
  background-color: #df974c;
  color: white;
}
